openapi: 3.0.0
info:
  description: |
    OpenApi definition for PN User Attributes - Address Book
  version: '1.0.0'
  title: PN User Attributes - Address Book
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://webapi.pn.pagopa.it/v1'
tags:
  - name: all
    description: Receiver Digital Address and Digital Domicile
  - name: legal
    description: Receiver Digital Domicile
  - name: courtesy
    description: Receiver Digital Addresses

paths:
  /address-book/v1/digital-address:
    get:
      summary: Get all digital addressed
      description: Returns all digital address for the recipient
      operationId: getAddressesByRecipient
      tags:
        - all
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:                                                               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'                       # NO EXTERNAL
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAddresses'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book-private/v1/digital-address/legal/{recipientId}/{senderId}:                                       # NO EXTERNAL
    get:                                                                                                         # NO EXTERNAL
      summary: get the legal digital addresses of the recipient to the sender                                    # NO EXTERNAL
      description: Returns a legal digital address for the recipient to the sender specified                     # NO EXTERNAL
      operationId: getLegalAddressBySender                                                                       # NO EXTERNAL
      tags:                                                                                                      # NO EXTERNAL
        - legal                                                                                                  # NO EXTERNAL
      parameters:                                                                                                # NO EXTERNAL
        - $ref: '#/components/parameters/recipientId'                                                            # NO EXTERNAL
        - $ref: '#/components/parameters/senderId'                                                               # NO EXTERNAL
      responses:                                                                                                 # NO EXTERNAL
        '200':                                                                                                   # NO EXTERNAL
          description: successful operation                                                                      # NO EXTERNAL
          content:                                                                                               # NO EXTERNAL
            application/json:                                                                                    # NO EXTERNAL
              schema:                                                                                            # NO EXTERNAL
                type: array                                                                                      # NO EXTERNAL
                items:                                                                                           # NO EXTERNAL
                  $ref: '#/components/schemas/LegalDigitalAddress'                                               # NO EXTERNAL
        '400':                                                                                                   # NO EXTERNAL
          description: Invalid input                                                                             # NO EXTERNAL
          content:                                                                                               # NO EXTERNAL
            application/problem+json:                                                                            # NO EXTERNAL
              schema:                                                                                            # NO EXTERNAL
                $ref: 'remote-refs.yaml#/components/schemas/Problem'                                             # NO EXTERNAL
                                                                                                                 # NO EXTERNAL
  /address-book-private/v1/digital-address/courtesy/{recipientId}/{senderId}:                                    # NO EXTERNAL
    get:                                                                                                         # NO EXTERNAL
      summary: get the courtesy digital addresses of the recipient to the sender                                 # NO EXTERNAL
      description: Returns a courtesy digital address for the recipient to the sender specified                  # NO EXTERNAL
      operationId: getCourtesyAddressBySender                                                                    # NO EXTERNAL
      tags:                                                                                                      # NO EXTERNAL
        - courtesy                                                                                               # NO EXTERNAL
      parameters:                                                                                                # NO EXTERNAL
        - $ref: '#/components/parameters/recipientId'                                                            # NO EXTERNAL
        - $ref: '#/components/parameters/senderId'                                                               # NO EXTERNAL
      responses:                                                                                                 # NO EXTERNAL
        '200':                                                                                                   # NO EXTERNAL
          description: successful operation                                                                      # NO EXTERNAL
          content:                                                                                               # NO EXTERNAL
            application/json:                                                                                    # NO EXTERNAL
              schema:                                                                                            # NO EXTERNAL
                type: array                                                                                      # NO EXTERNAL
                items:                                                                                           # NO EXTERNAL
                   $ref: '#/components/schemas/CourtesyDigitalAddress'                                           # NO EXTERNAL
        '400':                                                                                                   # NO EXTERNAL
          description: Invalid input                                                                             # NO EXTERNAL
          content:                                                                                               # NO EXTERNAL
            application/problem+json:                                                                            # NO EXTERNAL
              schema:                                                                                            # NO EXTERNAL
                $ref: 'remote-refs.yaml#/components/schemas/Problem'                                             # NO EXTERNAL

  /address-book/v1/digital-address/legal:
    get:
      summary: get digital addresses with legal value
      operationId: getLegalAddressByRecipient
      tags:
        - legal
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:                                                                                                # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'                                          # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'                                        # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'                                      # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'                                                        # NO EXTERNAL
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalDigitalAddress'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/courtesy:
    get:
      summary: get digital addresses without legal value
      operationId: getCourtesyAddressByRecipient
      tags:
        - courtesy
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:                                                                                           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'                                     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'                                   # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'                                 # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'                                                   # NO EXTERNAL
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourtesyDigitalAddress'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


  /address-book/v1/digital-address/legal/{senderId}/{channelType}:
    parameters:
      - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'                                     # NO EXTERNAL
      - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'                                   # NO EXTERNAL
      - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'                                 # NO EXTERNAL
      - $ref: '#/components/parameters/cxRoleAuthFleet'                                                   # NO EXTERNAL
      - $ref: '#/components/parameters/senderId'
      - in: path
        name: channelType
        description: Communication Channel type
        required: true
        schema:
          $ref: '#/components/schemas/LegalChannelType'
    post:
      summary: Create or update a digital address with legal value
      operationId: postRecipientLegalAddress
      tags:
        - legal
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressVerification'
      responses:
        '200':
          description: Verification by Code needed. This response is sent when the address provided need to be verified.
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '422':
          description: Verification code failure
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      summary: Delete Digital Address
      description: Delete a single Digital Address with legal value
      operationId: deleteRecipientLegalAddress
      tags:
        - legal
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      responses:
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Digital Address not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/courtesy/{senderId}/{channelType}:
    parameters:
      - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
      - $ref: '#/components/parameters/cxRoleAuthFleet'                       # NO EXTERNAL
      - $ref: '#/components/parameters/senderId'
      - in: path
        name: channelType
        description: Communication Channel type
        required: true
        schema:
          $ref: '#/components/schemas/CourtesyChannelType'
    post:
      summary: Create or update a digital address without legal value
      operationId: postRecipientCourtesyAddress
      tags:
        - courtesy
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressVerification'
      responses:
        '200':
          description: Verification by Code needed
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '422':
          description: Verification code failure
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      summary: Delete Digital Address
      description: Delete a single Digital Address without legal value
      operationId: deleteRecipientCourtesyAddress
      tags:
        - courtesy
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      responses:
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Digital Address not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


components:
  parameters:
    recipientId:
      in: path
      name: recipientId
      description: recipient Id
      required: true
      example: '123e4567-e89b-12d3-a456-426614174000'
      schema:
        type: string
    senderId:
      in: path
      name: senderId
      description: sender Id or 'default' for general addresses not associated to a sender
      example: 'default'
      required: true
      schema:
        type: string
    cxRoleAuthFleet:
      name: x-pagopa-pn-cx-role
      in: header
      description: Ruolo (estratto da token di Self Care)
      required: false
      schema:
        type: string

  schemas:
    AddressVerification:
      type: object
      required:
        - value
      properties:
        value:
          type: string
        verificationCode:
          $ref: '#/components/schemas/VerificationCode'

    BaseDigitalAddress:
      type: object
      required:
        - addressType
        - recipientId
        - channelType
        - value
      properties:
        addressType:
          type: string
        recipientId:
          type: string
          example: '123e4567-e89b-12d3-a456-426614174000'
        senderId:
          type: string
          description: senderId or 'default'
          example: 'cmbo'
        senderName:
          type: string
          description: name of the sender
          example: 'abc'
        channelType:
          type: string
        value:
          type: string
          example: 'nome.utente@server.it'
        code:
          $ref: '#/components/schemas/VerificationCode'

    LegalChannelType:
      type: string
      description: Communication Channel types __with__ legal value
      enum:
        - PEC
        - APPIO

    LegalDigitalAddress:
      allOf:
        - $ref: '#/components/schemas/BaseDigitalAddress'
        - type: object
          required:
            - addressType
            - channelType
          properties:
            addressType:
              type: string
              enum:
                - LEGAL

            channelType:
              $ref: '#/components/schemas/LegalChannelType'

    CourtesyChannelType:
      type: string
      description: Communication Channel types __without__ legal value
      enum:
        - EMAIL
        - SMS
        - APPIO

    CourtesyDigitalAddress:
      allOf:
        - $ref: '#/components/schemas/BaseDigitalAddress'
        - type: object
          required:
            - addressType
            - channelType
          properties:
            addressType:
              type: string
              enum:
                - COURTESY
            channelType:
              $ref: '#/components/schemas/CourtesyChannelType'

    UserAddresses:
      type: object
      properties:
        legal:
          type: array
          items:
            $ref: '#/components/schemas/LegalDigitalAddress'
        courtesy:
          type: array
          items:
            $ref: '#/components/schemas/CourtesyDigitalAddress'

    VerificationCode:
      type: string
      description: Verification Code
      minLength: 5
      maxLength: 5
      pattern: '^\d{5}$'
      example: '12345'

#  securitySchemes:                                      # ONLY EXTERNAL
#    bearerAuth:                                         # ONLY EXTERNAL
#      type: http                                        # ONLY EXTERNAL
#      scheme: bearer                                    # ONLY EXTERNAL
#      bearerFormat: JWT                                 # ONLY EXTERNAL
#security:                                               # ONLY EXTERNAL
# - bearerAuth: []                                       # ONLY EXTERNAL