openapi: 3.0.0
info:
  description: |
    ## Abstract
      API utilizzate dalle persone giuridiche per avere avere e impostare gli indirizzi digitali (sia legali che di cortesia).
      L'impostazione di un indirizzo digitale ha le caratteristiche:
      <ul>
        <li>di avvenire in due fasi nella prima si imposta e nella seconda si conferma con un codice di verifica</li>
        <li>di poter essere impostato per ente mittente</li>
        <li>di poter essere impostato per tutte le notifiche da un mittente per cui non è stato impostato un indirizzo specifico</li>
     </ul>
     
    ### Esempio di gestione recapiti digitali:
    <img src="https://raw.githubusercontent.com/pagopa/pn-user-attributes/refs/heads/feature/docs_openapi_update/docs/images/pg_address_management.svg">

    #### Descrizione delle operazioni:

    <ul>
      <li>1) Richiesta di creazione di recapito a valore legale PEC (address_1) per tutti gli enti mittenti</li>
      <li>3) Invio del codice di verifica ricevuto per abilitare il recapito</li>
      <li>5) Richiesta di creazione di recapito di cortesia SMS (address_2) per l'ente mittente senderId_1</li>
      <li>7) Invio del codice di verifica ricevuto per abilitare il recapito di cortesia</li>
      <li>9) chiedo la lista dei recapiti di default (legali e di cortesia)</li>
      <li>11) chiedo il recapito di cortesia scelto per senderId_1</li>
    </ul>


  version: '1.0.0'
  title: PN User Attributes - Address Book - B2B for PG
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: https://api.prod.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://api.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://api.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: HealthCheck
    description: Monitora lo stato del microservizio
  - name: all
    description: Indirizzo Digitale e Domicilio Digitale del Destinatario
  - name: legal
    description: Domicilio Digitale del Destinatario
  - name: courtesy
    description: Indirizzo Digitale  del Destinatario
  - name: legalB2B
    description: Domicilio Digitale del Destinatario
  - name: courtesyB2B
    description: Indirizzo Digitale  del Destinatario

paths:
  /status:
    get:
      summary: healthCheck path
      description: >-
        HealthCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      x-api-permissions:
        - 'BASE'
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  /address-book/v1/digital-address:
    get:
      summary: Tutti gli indirizzi digitali
      description: La lista degli indirizzi digitali per un destinatario (il richiedente)
      operationId: getAddressesByRecipient
      tags:
        - all
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:                                                               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'      # NO EXTERNAL
      responses:
        '200':
          description: Richiesta riuscita
          content:
            application/json:
              schema:
                $ref: 'pn-address-book-common-components.yaml#/components/schemas/UserAddresses'
          description: >
            Nell'oggetto c'è la motivazione di quanto richiesto per procedere
            (se il codice di verifica o se la validazione della pec)

        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /address-book/v1/digital-address/legal/{senderIdParam}:
    get:
      summary: Restituisce il domicilio digitale di piattaforma per un mittente scelto dal destinatario
      description: Restituisce il domicilio digitale di piattaforma per un mittente scelto dal destinatario
      operationId: getLegalAddressBySenderB2B
      tags:
        - legalB2B
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'            # NO EXTERNAL
        - in: path
          name: senderIdParam
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
          required: true
      responses:
        '200':
          description: Richiesta riuscita
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalDigitalAddress'
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /address-book/v1/digital-address/courtesy/{senderIdParam}:
    get:
      summary:  Restituisce l'indirizzo di cortesia che il destinatario ha associato ad uno specifico mittente
      description:  Restituisce l'indirizzo legale che il destinatario ha associato ad uno specifico mittente
      operationId: getCourtesyAddressBySenderB2B
      tags:
        - courtesyB2B
      x-api-permissions:
        - 'BASE'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'                   # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'                 # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'                # NO EXTERNAL
        - in: path
          name: senderIdParam
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
          required: true
      responses:
        '200':
          description: Richiesta riuscita
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyDigitalAddress'
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/legal:
    get:
      summary:  Restituisce l'indirizzo legale di un destinatario
      description:  Restituisce l'indirizzo legale di un destinatario
      operationId: getLegalAddressByRecipient
      tags:
        - legal
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:                                                                     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'            # NO EXTERNAL
      responses:
        '200':
          description: Richiesta riuscita
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalAndUnverifiedDigitalAddress'
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/courtesy:
    get:
      summary:  Restituisce l'indirizzo di cortesia del destinatario
      description:  Restituisce l'indirizzo di cortesia del destinatario
      operationId: getCourtesyAddressByRecipient
      tags:
        - courtesy
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:                                                               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'      # NO EXTERNAL
      responses:
        '200':
          description: Richiesta riuscita
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyDigitalAddress'
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /address-book/v1/digital-address/legal/{senderIdParam}/{channelType}:
    post:
      summary: Crea o aggiorna un indirizzo digitale con valore legale
      description: Crea o aggiorna un indirizzo digitale con valore legale
      operationId: postRecipientLegalAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'          # NO EXTERNAL
        - in: path
          name: senderIdParam
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
          required: true
        - in: path
          name: channelType
          description: tipo di canale di comunicazione (APPIO, SERCQ, PEC)
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalChannelType'
      tags:
        - legal
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerification'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerificationResponse'
          description: >
            Nell'oggetto c'è la motivazione di quanto richiesto per procedere
        '204':
          description: Richiesta riuscita
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '422':
          description: >
            Errore causato da uno di questi eventi:
            * Fallimento del codice di verifica: error.detail paria a PN_USERATTRIBUTES_INVALIDVERIFICATIONCODE
            * Numero di tentativi di inserimento del codice di verifica massimi superato: error.detail pari a PN_USERATTRIBUTES_RETRYLIMITVERIFICATIONCODE
            * Codice di verifica scaduto o non trovato: error.detail pari a PN_USERATTRIBUTES_EXPIREDVERIFICATIONCODE
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      summary: Cancella Digital Address
      description: Eliminazione di un indirizzo a valore legale
      operationId: deleteRecipientLegalAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'          # NO EXTERNAL
        - in: path
          name: senderIdParam
          schema:
            $ref: './pn-address-book-common-components.yaml#/components/parameters/senderId'
          required: true
        - in: path
          name: channelType
          description: tipo di canale di comunicazione a valore legale
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalChannelType'
      tags:
        - legal
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      responses:
        '204':
          description: Richiesta riuscita
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Digital Address not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/courtesy/{senderIdParam}/{channelType}:
    post:
      summary: Crea o aggiorna un indirizzo senza valore legale per un determinato canale e mittente
      description: Crea o aggiorna un indirizzo senza valore legale per un determinato canale e mittente
      operationId: postRecipientCourtesyAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'   # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'     # NO EXTERNAL
        - in: path
          name: senderIdParam
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
          required: true
        - in: path
          name: channelType
          description: Communication Channel type
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyChannelType'
      tags:
        - courtesy
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerification'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerificationResponse'
          description: >
            Nell'oggetto c'è la motivazione di quanto richiesto per procedere
            (se il codice di verifica o se la validazione della pec)
        '204':
          description: Richiesta riuscita
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '422':
          description: >
            Errore causato da uno di questi eventi:
            * Fallimento del codice di verifica: error.detail paria a PN_USERATTRIBUTES_INVALIDVERIFICATIONCODE
            * Numero di tentativi di inserimento del codice di verifica massimi superato: error.detail pari a PN_USERATTRIBUTES_RETRYLIMITVERIFICATIONCODE
            * Codice di verifica scaduto o non trovato: error.detail pari a PN_USERATTRIBUTES_EXPIREDVERIFICATIONCODE
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      summary: Cancella un indirizzo digitale senza valore legale
      description: Cancella un indirizzo digitale senza valore legale
      operationId: deleteRecipientCourtesyAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'   # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxRoleAuthFleet'     # NO EXTERNAL
        - in: path
          name: senderIdParam
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
          required: true
        - in: path
          name: channelType
          description: Canale di comunicazione senza valore legale (EMAIL, SMS, APPIO)
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyChannelType'
      tags:
        - courtesy
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      responses:
        '204':
          description: Richiesta riuscita
        '400':
          description: Input non valido
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Indirizzo digitale non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


#components:                                             # ONLY EXTERNAL
#  securitySchemes:                                      # ONLY EXTERNAL
#    bearerAuth:                                         # ONLY EXTERNAL
#      type: http                                        # ONLY EXTERNAL
#      scheme: bearer                                    # ONLY EXTERNAL
#      bearerFormat: JWT                                 # ONLY EXTERNAL
#security:                                               # ONLY EXTERNAL
# - bearerAuth: []                                       # ONLY EXTERNAL