openapi: 3.0.0
info:
  description: |
    OpenApi definition for PN User Attributes - Address Book - B2B
  version: '1.0.0'
  title: PN User Attributes - Address Book - B2B
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://webapi.pn.pagopa.it/v1'
tags:
  - name: all
    description: Receiver Digital Address and Digital Domicile
  - name: legal
    description: Receiver Digital Domicile
  - name: courtesy
    description: Receiver Digital Addresses
  - name: legalB2B
    description: Receiver Digital Domicile
  - name: courtesyB2B
    description: Receiver Digital Addresses

paths:
  /address-book/v1/digital-address:
    get:
      summary: Get all digital addressed
      description: Returns all digital address for the recipient
      operationId: getAddressesByRecipient
      tags:
        - all
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:                                                               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                       # NO EXTERNAL
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: 'pn-address-book-common-components.yaml#/components/schemas/UserAddresses'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /address-book/v1/digital-address/legal/{senderId}:
    get:
      summary: get the legal digital addresses of the recipient to the sender
      description: Returns a legal digital address for the recipient to the sender specified
      operationId: getLegalAddressBySenderB2B
      tags:
        - legalB2B
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                             # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalDigitalAddress'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /address-book/v1/digital-address/courtesy/{senderId}:
    get:
      summary: get the courtesy digital addresses of the recipient to the sender
      description: Returns a courtesy digital address for the recipient to the sender specified
      operationId: getCourtesyAddressBySenderB2B
      tags:
        - courtesyB2B
      x-api-permissions:
        - 'BASE'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'                   # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'                 # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'               # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                                 # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyDigitalAddress'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/legal:
    get:
      summary: get digital addresses with legal value
      operationId: getLegalAddressByRecipient
      tags:
        - legal
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:                                                                     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                             # NO EXTERNAL
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalAndUnverifiedDigitalAddress'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/courtesy:
    get:
      summary: get digital addresses without legal value
      operationId: getCourtesyAddressByRecipient
      tags:
        - courtesy
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:                                                               # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                       # NO EXTERNAL
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyDigitalAddress'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /address-book/v1/digital-address/legal/{senderId}/{channelType}:
    post:
      summary: Create or update a digital address with legal value
      operationId: postRecipientLegalAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                           # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
        - in: path
          name: channelType
          description: Communication Channel type
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalChannelType'
      tags:
        - legal
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerification'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerificationResponse'
          description: >
            Nell'oggetto c'è la motivazione di quanto richiesto per procedere
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '422':
          description: >
            This error is caused by one of this events:
            * Verification code failure: error.detail equals to PN_USERATTRIBUTES_INVALIDVERIFICATIONCODE
            * Verification code max attempt reached: error.detail equals to PN_USERATTRIBUTES_RETRYLIMITVERIFICATIONCODE
            * Verification code expired/notfound: error.detail equals to PN_USERATTRIBUTES_EXPIREDVERIFICATIONCODE
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      summary: Delete Digital Address
      description: Delete a single Digital Address with legal value
      operationId: deleteRecipientLegalAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'             # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'           # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                           # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
        - in: path
          name: channelType
          description: Communication Channel type
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/LegalChannelType'
      tags:
        - legal
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      responses:
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Digital Address not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /address-book/v1/digital-address/courtesy/{senderId}/{channelType}:
    post:
      summary: Create or update a digital address without legal value
      operationId: postRecipientCourtesyAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'   # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                     # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
        - in: path
          name: channelType
          description: Communication Channel type
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyChannelType'
      tags:
        - courtesy
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerification'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: 'pn-address-book-common-components.yaml#/components/schemas/AddressVerificationResponse'
          description: >
            Nell'oggetto c'è la motivazione di quanto richiesto per procedere
            (se il codice di verifica o se la validazione della pec)
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '422':
          description: >
            This error is caused by one of this events:
            * Verification code failure: error.detail equals to PN_USERATTRIBUTES_INVALIDVERIFICATIONCODE
            * Verification code max attempt reached: error.detail equals to PN_USERATTRIBUTES_RETRYLIMITVERIFICATIONCODE
            * Verification code expired/notfound: error.detail equals to PN_USERATTRIBUTES_EXPIREDVERIFICATIONCODE
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      summary: Delete Digital Address
      description: Delete a single Digital Address without legal value
      operationId: deleteRecipientCourtesyAddress
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'     # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'   # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/cxRoleAuthFleet'                     # NO EXTERNAL
        - $ref: 'pn-address-book-common-components.yaml#/components/parameters/senderId'
        - in: path
          name: channelType
          description: Communication Channel type
          required: true
          schema:
            $ref: 'pn-address-book-common-components.yaml#/components/schemas/CourtesyChannelType'
      tags:
        - courtesy
      #      security:                                                                # ONLY EXTERNAL
      #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      responses:
        '204':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Digital Address not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

#components:                                             # ONLY EXTERNAL
#  securitySchemes:                                      # ONLY EXTERNAL
#    bearerAuth:                                         # ONLY EXTERNAL
#      type: http                                        # ONLY EXTERNAL
#      scheme: bearer                                    # ONLY EXTERNAL
#      bearerFormat: JWT                                 # ONLY EXTERNAL
#security:                                               # ONLY EXTERNAL
# - bearerAuth: []                                       # ONLY EXTERNAL