openapi: 3.0.0
info:
  description: |
    OpenApi definition for PN User Attributes - Address Book for IO backend
  version: '1.0.0'
  title: PN User Attributes - Address Book for IO backend
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: https://api-io.pn.pagopa.it
    description: Ambiente di produzione
  - url: https://api-io.uat.pn.pagopa.it
    description: Ambiente di test
  - url: https://api-io.dev.pn.pagopa.it
    description: Ambiente di sviluppo
tags:
  - name: courtesy
    description: Receiver Digital Addresses
  - name: consents
    description: PN User Consents

paths:
  /address-book-io/v1/digital-address/courtesy:
    get:
      summary: courtesy message activation on IO
      description: Returns IO activation for courtesy message
      operationId: getCourtesyAddressIo
      tags:
        - courtesy
      parameters:
        - $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'                                   # NO EXTERNAL
#       - $ref: './remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                                  # ONLY EXTERNAL
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoCourtesyDigitalAddressActivation'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: recipient not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    put:
      summary: set courtesy message activation on IO
      description: Set IO activation for courtesy message
      operationId: setCourtesyAddressIo
      tags:
        - courtesy
      parameters:
        - $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'                                   # NO EXTERNAL
#       - $ref: './remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'                                # ONLY EXTERNAL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IoCourtesyDigitalAddressActivation'
      responses:
        '204':
          description: Updated
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


  /user-consents/v1/consents/{consentType}:
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'            # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'            # NO EXTERNAL
        - $ref: '#/components/parameters/consentType'
        - $ref: './remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'
        - $ref: '#/components/parameters/lollipopOriginalUrl'                                     # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopOriginalMethod'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopPublicKey'                                       # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionRef'                                    # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAssertionType'                                   # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopAuthJwt'                                         # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopUserId'                                          # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignatureInput'                                  # ONLY EXTERNAL
        - $ref: '#/components/parameters/lollipopSignature'                                       # ONLY EXTERNAL
        - $ref: '#/components/parameters/headerIoSource'                                          # ONLY EXTERNAL
      get:
        summary: Get single consent by type
        description: Returns single consent type for the recipient. Return a Consent with accepted false if consent type is not found.
        operationId: getConsentByType
        parameters:
          - $ref: '#/components/parameters/queryVersion'
        tags:
          - consents
        #      security:                                                                # ONLY EXTERNAL
        #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Consent'
          '400':
            description: Invalid input
            content:
              application/problem+json:
                schema:
                  $ref: 'remote-refs.yaml#/components/schemas/Problem'

      put:
        summary: Accept a single consent type
        description: Accept single consent type for the recipient
        operationId: consentAction
        parameters:
          - $ref: '#/components/parameters/queryVersionRequired'
        tags:
          - consents
        #      security:                                                                # ONLY EXTERNAL
        #        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentAction'
        responses:
          '200':
            description: successful operation
          '400':
            description: Invalid input
            content:
              application/problem+json:
                schema:
                  $ref: 'remote-refs.yaml#/components/schemas/Problem'



components:
  parameters:
    consentType:
      name: consentType
      in: path
      description: A cosa sto dando il consenso
      required: true
      schema:
        $ref: '#/components/schemas/ConsentType'
    queryVersion:
      name: version
      in: query
      description: La versione del consenso. se non presente il default è nessuna versione accettata.
      required: false
      schema:
        $ref: '#/components/schemas/ConsentVersion'
    queryVersionRequired:
      name: version
      in: query
      description: La versione del consenso, obbligatoria in fase di accettazione.
      required: true
      schema:
        $ref: '#/components/schemas/ConsentVersion'


    ############################################################################################
    ###                     PARAMETRO SORGENTE CREAZIONE NOTIFICA                            ###
    ############################################################################################
    headerSourceChannel: # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannel'         # NO EXTERNAL

    headerSourceChannelDetails: # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannelDetails'  # NO EXTERNAL

    headerIoSource:                                                                       # ONLY EXTERNAL
      name: "x-pagopa-pn-io-src"                                                          # ONLY EXTERNAL
      in: "header"                                                                        # ONLY EXTERNAL
      description: "User login source channel details, should be QR_CODE or left empty"   # ONLY EXTERNAL
      required: false                                                                     # ONLY EXTERNAL
      schema:                                                                             # ONLY EXTERNAL
        type: "string"


    ############################################################################################
    ###                     HEADER DI AUTENTICAZIONE LOLLIPOP                               ###
    ############################################################################################
    lollipopOriginalUrl: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopOriginalUrl'                           # ONLY EXTERNAL
    lollipopOriginalMethod: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopOriginalMethod'                        # ONLY EXTERNAL
    lollipopPublicKey: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopPublicKey'                             # ONLY EXTERNAL
    lollipopAssertionRef: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopAssertionRef'                          # ONLY EXTERNAL
    lollipopAssertionType: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopAssertionType'                         # ONLY EXTERNAL
    lollipopAuthJwt: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopAuthJwt'                               # ONLY EXTERNAL
    lollipopUserId: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopUserId'                                # ONLY EXTERNAL
    lollipopSignatureInput: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopSignatureInput'                        # ONLY EXTERNAL
    lollipopSignature: # ONLY EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/lollipopSignature'                             # ONLY EXTERNAL



  schemas:
    IoCourtesyDigitalAddressActivation:
      description: Io courtesy activation
      type: object
      required:
        - activationStatus
      properties:
        activationStatus:
          type: boolean

    ConsentAction:
      type: object
      properties:
        action:
          type: string
          description: action on consent
          enum:
            - ACCEPT
            - DECLINE

    ConsentType:
      type: string
      description: type of consent
      enum:
        - TOS
        - DATAPRIVACY
        - TOS_DEST_B2B
        - TOS_SERCQ
        - DATAPRIVACY_SERCQ

    Consent:
      type: object
      required:
        - consentType
        - recipientId
        - consentVersion
        - tosContentUrl
      properties:
        recipientId:
          example: '123e4567-e89b-12d3-a456-426614174000'
          type: string
        consentType:
          $ref: '#/components/schemas/ConsentType'
        accepted:
          type: boolean
        consentVersion:
          $ref: '#/components/schemas/ConsentVersion'
        isFirstAccept:
          type: boolean
        consentUrl:
          type: string
          description: url of page which contains terms of service or privacy policy
          format: uri
          example: 'https://www.pagopa.it/termini-e-condizioni/'

    ConsentVersion:
      type: string
      description: version of consent
      maxLength: 10
      pattern: ^[a-zA-Z0-9_.-]*$



  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

security:
  - ApiKeyAuth: [] # use the same name as under securitySchemes