openapi: 3.0.0
info:
  description: |
    OpenApi definition for PN User Attributes - Consents
  version: v1
  title: PN User Attributes Consents
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://webapi.pn.pagopa.it/v1'
tags:
  - name: consents
    description: PN User Consents
    
paths:
  /user-consents/v1/consents:
    get:
      summary: Get all recipient consents
      description: Returns all consents for the recipient
      operationId: getConsents
      tags:
        - consents
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Consent'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'pn-errors.yaml#/components/schemas/Problem'
        '404':
          description: recipientId not found
          content:
            application/problem+json:
              schema:
                $ref: 'pn-errors.yaml#/components/schemas/Problem'
  
  /user-consents/v1/consents/{consentType}:
    parameters:
      - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'
      - $ref: '#/components/parameters/consentType'
    get:
      summary: Get single consent by type 
      description: Returns single consent type for the recipient
      operationId: getConsentByType
      tags:
        - consents
      responses:
        '200':  
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'pn-errors.yaml#/components/schemas/Problem'
        '404':
          description: recipientId not found
          content:
            application/problem+json:
              schema:
                $ref: 'pn-errors.yaml#/components/schemas/Problem'

    put:
      summary: Accept a single consent type 
      description: Accept single consent type for the recipient
      operationId: consentAction
      tags:
        - consents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentAction'
      responses:
        '200':  
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'pn-errors.yaml#/components/schemas/Problem'

components:
  
  parameters:
    consentType:
      name: consentType
      in: path
      description: A cosa sto dando il consenso
      required: true
      schema:
        $ref: '#/components/schemas/ConsentType'
      
  
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  
  
  schemas:
    ConsentType:
      type: string
      description: type of consent
      enum:
        - TOS
        - DATAPRIVACY

    ConsentAction:
      type: object
      properties:
        action: 
          type: string
          description: action on consent
          enum:
            - ACCEPT
            - DECLINE
    
    Consent:
      type: object
      required:
        - consentType
        - recipientId
      properties:
        recipientId:
          example: '123e4567-e89b-12d3-a456-426614174000'
          type: string
        consentType:
          $ref: '#/components/schemas/ConsentType'
        accepted:
          type: boolean    

